body{
    margin: 0;
}

.container{
    border: 6px solid black;
    display: flex;
    height: 400px;
    /* flex-direction: column; */
    /* flex-wrap: wrap; */
    /* flex-flow: row nowrap; */
    /* gap: 20px 30px; */
    /* justify-content: center; */
    /* align-items: center; */
    /* align-content: flex-start; */
}

.flex-item{
    color: white;
    font-size: 1.5rem;
    padding: 1rem;
    text-align: center;
    /* flex-grow: 1; */
    /* flex-shrink: 0; */
    /* width: 6rem; */
}
.item-1{
    background-color: #016A70;
    align-self: start;
}
.item-2{
    background-color: #b95f21;
    align-self: end;
}
.item-3{
    background-color: #176B87;
    /* order: 1; */
    align-self: center;
}
.item-4{
    background-color: #35bf40;
    /* flex-shrink: 3; */
    align-self: stretch;
}
.item-5{
    background-color: #35bfa1;
    /* flex-grow: 1; */
    align-self: auto;
}
.item-6{
    background-color: #183D3D;
    /* flex-grow: 3; */
}
.item-7{
    background-color: #BB2525;
    /* order: 2; */
}
.item-8{
    background-color: #793FDF;
}
.item-9{
    background-color: #0E21A0;
}